* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
}

#box1 {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 50%
}

#box2 {
    width: 50%;
    height: 100%;
    background-color: rgba(173, 216, 230, 0.455);
}

#input-section {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

@media (min-width: 700px){
    
}